DOWNLOAD_API_URL=https://co.wuk.sh/api/json
OPENAI_API_KEY_1=#
OPENAI_API_KEY_2=#
TEXT_TO_SPEECH_API_KEY=#

DB=root
DB_HOST=localhost
DB_USER=root
DB_PASS=

S3_BUCKET='xxx'
S3_KEY='xxx'
S3_SECRET='xxxx'
S3_REGION='ap-south-1'